html {
    scroll-behavior: smooth;
}

body {
    background-color: #fdf6ec;
    font-family: "p22-mackinac-pro",serif;
    font-weight: 300 !important;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "p22-mackinac-pro",serif;
    font-weight: 300;
    text-align: center;
}
h1{
    margin-top: 10vw;
}

a {
    color: #02340e;
}

a:hover {
    color: #02340e;
    opacity: .8;
    text-decoration: none;
}

.primary-btn {
    font-family: "p22-mackinac-pro",serif;
    color: #02340e !important;
    padding: 15px 40px;
    display: inline-block;
    margin-top: 20px;
    border: 2px solid #02340e;
    border-radius: 100px;
}

.primary-btn:hover {
    color: #02340e;
    opacity: .9;
    border: 3.5px solid #02340e;
}

section {
    padding: 0px 0;
}

button {
    background-color: transparent;
    border: 0px;
}

.template-button { 
    position: fixed;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #2d8eff;
    color: #ffffff;
    z-index: 9999;
    bottom: 15px;
    left: 15px;
    display: inline-block;
}

.navbar {
    background-color: #000000;
}

.nav-link {
    font-weight: 500;
    color: #ffffff;
}

.navbar-toggler {
    font-size: 2.2rem;
    color: #ffffff;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.header-logo {
    max-width: 180px;
    min-width: 180px;
}

.heading-content {
    max-width: 900px;
    margin: 0 auto;
    font-family: "p22-mackinac-pro",serif;
    color: #004c12;
}

.heading-content h2 {
    line-height: 1.8;
    letter-spacing: .02em;
    font-weight: bold;
}

.heading-content p {
    font-family: "p22-mackinac-pro",serif;
    font-size: 20px;
    color: #004c12;
}

.margintop-sm {
    margin-top: 30px;
}

.margintop-lg {
    margin-top: 60px;
}

.col-md-6 {
    padding-right: 10px;
    padding-left: 10px;
}

/*/////////////////////////////////////////
Hero
////////////////////////////////////////*/

#hero h1 {
    font-size: 7vw;
    line-height: 1;
    color: #02340e; 
    font-family: Druk Condensed;
    font-weight: bold;
}

.hero-container {
    position: relative;
    transition: all .2s ease-in-out;
}

.hero-container:hover {
    transform: scale(1.03);
}

.hero-details {
    position: absolute;
    color: #004c12;
    top: 30px;
    left: 30px;
    max-width: 600px;
}

.hero-details h3 {
    font-family: "p22-mackinac-pro",serif;
    font-size: 36px;
}

.hero-details p {
    font-size: 20px;
}

.hero-button {
    background-color: #004c12;
    position: absolute;
    padding: 15px 30px;
    bottom: 30px;
    left: 30px;
}

.mobile-only {
    display: none;
}

/*/////////////////////////////////////////
Blog
////////////////////////////////////////*/

.blog-post {
    position: relative;
    padding: 40px;
    margin: 10px 0;
    border: 2px solid #004c12;
    color: #02340e;
}

.blog-post:hover {
    border: 2px solid #004c12;
    transition: all .2s ease-in-out;
}

.blog-post h4 {
    font-family: "p22-mackinac-pro",serif;
    line-height: 1.6;
    margin-bottom: 40px;
}

.blog-post p {
    color: #004c12;
    line-height: 1.8;
    margin-bottom: 40px;
}

.blog-post i {
    font-size: 20px;
    margin-left: 10px;
}

.blog-link {
    position: absolute;
    bottom: 30px;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
}

/*/////////////////////////////////////////
Footer
////////////////////////////////////////*/

#footer {
    color: #004c12;
    font-family: "p22-mackinac-pro",serif;
    text-align: center;
    padding: 90px 0 30px 0;
}

#footer h6 {
    font-size: 24px;
}

#footer small {
    color: #004c12;
    font-family: "p22-mackinac-pro",serif;
    font-weight: 300;
    letter-spacing: .25em;
    margin-top: 30px;
    display: inline-block;
}

#footer i {
    font-size: 26px;
    color: #004c12;
}

.list-inline-item {
    margin: 0 15px !important;
}

/*/////////////////////////////////////////
Media queries
////////////////////////////////////////*/

 @media (max-width: 575.98px) { 
    section {
        padding: 70px 10px;
    }
    #hero h1 {
        font-size: 10vw;
    }
    .hidden-mobile {
        display: none;
    }
    .mobile-only h3 {
        font-size: 22px;
        margin-top: 5px;
    }
    .mobile-only p {
        font-size: 20px;
        color: rgba(255,255,255,0.5);
    }
    .heading-content h2 {
        font-size: 22px;
    }
    .list-inline-item {
        margin: 0 15px !important;
    }
    .mobile-only {
        display: inline-block;
        color: #004c12;
    }
}

@media (max-width: 768px) { 
section {
        padding: 70px 10px;
    }
    #hero h1 {
        font-size: 10vw;
    }
    .hidden-mobile {
        display: none;
    }
    .mobile-only h3 {
        font-size: 22px;
        margin-top: 5px;
    }
    .mobile-only p {
        font-size: 20px;
        color: rgba(255,255,255,0.5);
    }
    .heading-content h2 {
        font-size: 22px;
    }
    .list-inline-item {
        margin: 0 15px !important;
    }
    .mobile-only {
        display: inline-block;
        color: #004c12;
    }
}

@media (max-width: 991.98px) { }

@media (max-width: 1199.98px) { 
section {
        padding: 70px 10px;
    }
    #hero h1 {
        font-size: 10vw;
    }
    .hidden-mobile {
        display: none;
    }
    .mobile-only h3 {
        font-size: 22px;
        margin-top: 5px;
    }
    .mobile-only p {
        font-size: 20px;
        color: rgba(255,255,255,0.5);
    }
    .heading-content h2 {
        font-size: 22px;
    }
    .list-inline-item {
        margin: 0 15px !important;
    }
    .mobile-only {
        display: inline-block;
        color: #004c12;
    } }